{% assign author = page.author | default: page.authors[0] | default: site.author %}

{% if author.avatar contains "://" %}
  {% assign author_avatar = author.avatar %}
{% else %}
  {% assign author_avatar = author.avatar | relative_url %}
{% endif %}

<div itemscope itemtype="https://schema.org/Person" class="page__author">

  <!-- アバター画像 -->
  <div class="author__avatar">
    {% if author.uri %}
      <a href="{{ author.uri | relative_url }}">
    {% endif %}
      <img src="{{ author_avatar }}" alt="{{ author.name }}" itemprop="image">
    {% if author.uri %}
      </a>
    {% endif %}
  </div>

  <!-- 著者名とプロフィール文（名前をクリックすると /about/ へ遷移） -->
  <div class="author__content">
    <h3 class="author__name" itemprop="name">
      <a href="{{ '/popomomoblog/status/' | relative_url }}" itemprop="url" rel="nofollow">
        {{ author.name }}
      </a>
    </h3>
    {% if author.bio %}
      <div class="author__bio" itemprop="description">
        <p>{{ author.bio }}</p>
      </div>
    {% endif %}
  </div>

  <!-- リンク・SNSアイコン一覧 -->
  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li class="author__desktop"><i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> {{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li class="author__desktop"><i class="fas fa-fw fa-building" aria-hidden="true"></i> {{ author.employer }}</li>
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri | relative_url }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> Website</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i> Email</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
      {% endif %}
    </ul>
  </div>

</div>
